<div class="container-fluid limit_container">

  <div class="page-title-box">
    <div class="page-title-right">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/">Usuario</a>
        </li>
        <li class="breadcrumb-item active">Editar</li>
      </ol>
    </div>
    <h2 class="page-title">Usuario</h2>
  </div>


  <div class="row col-12">
    <div class="card shadow" style="min-width: 700px;margin-left:auto;margin-right:auto;">
      <div class="card-body">
        <div class="row head-row">
          <h4 class="header-title">Editar dados de Usuario</h4>
        </div>
          <%= render 'form', user: @user, back_url: users_user_path %>
      </div>
    </div>
  </div>

</div>
