<body class="auth-fluid-pages pb-0">
  <div class="auth-fluid">
    <div class="auth-fluid-form-box">
      <div class="col-12 pl-5">
          <h1 class="mt-0" style="text-align: center;color: #000;font-family: 'Andika'!important;padding-bottom: 0;margin-bottom: 0;text-align: inherit;">
            <span style="color: #AA13EB!important;font-size:47px;font-family: 'Barlow', sans-serif;">
              Acorde
            </span>
          </h1>
          <h1 class="mt-0" style="text-align: center;color: #000;font-family: 'Andika'!important;text-align: inherit;">
            <span style="color: #AA13EB!important;font-size:47px;font-family: 'Barlow', sans-serif;">
              Music
            </span>
          </h1>
      </div>
      <div class="align-items-center d-flex" style="height: 90% !important;">
        <div class="card-body">

          <div class="auth-brand text-center text-lg-left">
            <a href="index.html">
              <span><img src="assets/images/logo-light.png" alt="" height="18"></span>
            </a>
          </div>


          <h1 class="mt-0" style="text-align: center;color: #000;font-family: 'Andika'!important;">
            <span style="color: #AA13EB!important;font-size:47px;font-family:'Caveat',cursive;">Acorde</span>
            o talendo
          </h1>
          <h1 class="mt-0" style="text-align: center;color: #000;font-family: 'Andika'!important;">
            dentro de voçê
          </h1>

          <div class="row mt-3 form-group mb-0 text-center">
            <a class="btn btn-primary btn-block" style="width:8rem; border-radius: 32px;margin-left:auto;margin-right:auto;" href="/users/sign_up">
              Comece Agora
            </a>
          </div>
      </div>
    </div>
  </div>

  <div class="auth-fluid-right text-center" style="padding: 3rem 3rem;">
    <a class="btn btn-primary btn-block" style="width:8rem; border-radius: 32px;margin-left:auto;" href="/users/sign_in">
      Logar
    </a>
    <div class="auth-user-testimonial">
      <!-- <h2 class="mb-3">Comunicação, acessibilidade e conscientização.</h2>
      <p class="lead">
        <i class="mdi mdi-format-quote-open"></i>
        Apreenda Libras de maneira Fácil e Ágil.
        <i class="mdi mdi-format-quote-close"></i>
      </p>
      <p>
        Me da um Sinal
      </p> -->
    </div>
  </div>

</div>
</body>

<link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Andika&family=Didact+Gothic&family=Yeseva+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,800&display=swap" rel="stylesheet">
