<div class="container mt-3">
  <div class="card">
    <div class="card-body">

      <h4 class="header-title">Produtoras</h4>
      <p class="text-muted font-14 mb-4">
        Lista de Produtores
      </p>

      <div class="table-responsive-sm">
        <table id="datatable-buttons" class="table table-striped dt-responsive nowrap w-100 dataTable no-footer dtr-inline" role="grid" aria-describedby="datatable-buttons_info" style="width: 1537px;">
          <thead>
            <tr role="row">
              <th>Name</th>
              <th>Região</th>
              <th>Total de Streans</th>
              <th> Data inscrição</th>
            </tr>
          </thead>


          <tbody>

            <tr role="row" class="odd">
              <td class="sorting_1" tabindex="0">Zorita Serrano</td>
              <td>São Paulo</td>
              <td>56</td>
              <td>2012/06/01</td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1" tabindex="0">Zenaida Frank</td>
              <td>Mato Grosso</td>
              <td>63</td>
              <td>2010/01/04</td>
            </tr>
            <tr role="row" class="odd">
              <td class="sorting_1" tabindex="0">Yuri Berry</td>
              <td>São Paulo</td>
              <td>40</td>
              <td>2009/06/25</td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1" tabindex="0">Vivian Harrell</td>
              <td>Rio de Janeiro</td>
              <td>62</td>
              <td>2009/02/14</td>
            </tr>
            <tr role="row" class="odd">
              <td class="sorting_1" tabindex="0">Unity Butler</td>
              <td>Rio de Janeiro</td>
              <td>47</td>
              <td>2009/12/09</td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1" tabindex="0">Timothy Mooney</td>
              <td>DF</td>
              <td>37</td>
              <td>2008/12/11</td>
            </tr>
            <tr role="row" class="odd">
              <td tabindex="0" class="sorting_1">Tiger Nixon</td>
              <td>Goiás</td>
              <td>61</td>
              <td>2011/04/25</td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1" tabindex="0">Thor Walton</td>
              <td>São Paulo</td>
              <td>61</td>
              <td>2013/08/11</td>
            </tr>
            <tr role="row" class="odd">
              <td class="sorting_1" tabindex="0">Tatyana Fitzpatrick</td>
              <td>DF</td>
              <td>19</td>
              <td>2010/03/17</td>
            </tr>
            <tr role="row" class="even">
              <td class="sorting_1" tabindex="0">Suki Burks</td>
              <td>DF</td>
              <td>53</td>
              <td>2009/10/22</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end table-responsive-->

    </div>
    <!-- end card body-->
  </div>

</div>
