<body class="auth-fluid-pages pb-0">
  <div class="auth-fluid-registration">
    <div class="container" style="margin-top: 15%">
      <div class="row justify-content-center">
        <div class="col-lg-5">

          <div class="card shadow" style="margin-bottom: 22px;z-index: 10;border-radius: .75rem;">
            <div class="card-body p-3">
              <div class="text-center w-75 m-auto">
                <h4 class="text-dark-50 text-center mt-0 font-weight-bold">Qual seu nome da sua Editora?</h4>
              </div>
            </div>
          </div>

          <div class="card" style="width: 350px;margin-left: auto;margin-right: auto;border-radius: 0.75rem;">
            <div class="card-body p-3">
              <input type="text" class="form-control" placeholder="Digite seu da sua Editora" style="border-width:0px;border:none;box-shadow: none;" required>
            </div>
          </div>

          <a class="btn btn-primary btn-block" style="width:8rem; border-radius: 32px;margin-left:auto;margin-right:auto;box-shadow: 2px 3px 17px 11px rgb(248 249 249 / 50%);" href="/registros/box_1_2_2">
            Avançar
          </a>

        </div>
      </div>
    </div>
  </div>
</body>
